* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.keys {
	height: 100vh;
	background: url('https://mocah.org/uploads/posts/545908-audience-band.jpg');
	background-repeat: none;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
	opacity: 0.9;
}

.key {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	border: 5px double #fce856;
	width: 95px;
	aspect-ratio: 1/1.5;
	border-radius: 10px;
	background-color: rgba(3, 3, 29, 0.9);
	transition: all 0.3s;
	opacity: 0.8;
}

.key kbd {
	color: #fce856;
	font-size: 30px;
}

.key:hover {
	transform: translateY(-30px);
}

.sound {
	text-transform: uppercase;
	color: #fce856;
}
